    <header>
        <nav class="black">
            <div class="nav-wrapper">
                <a href="#intro" class="brand-logo center"><img class="responsive-img" src="{{ url_for('static',filename='logo.png') }}" ></a>
                <ul id="nav-mobile" class="right">
                    {% if current_user.is_authenticated %}
                        <li><a class="orange-text" href="#app">{{ current_user.username }}</a></li>
                        <li><a><i class="material-icons orange-text" id="logout-btn">power_settings_new</i></a>
                        </li>
                    {% else %}
                        <li><a class="waves-effect waves-light btn-small orange" href="#login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>